{% extends 'accounts/base.html' %}
{% block title %}Job Detail {% endblock %}

{% block content %}
    <div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <div class="card shadow-lg border-0">
        <div class="card-body">
          
          
          <h2 class="card-title text-dark mb-2">
            {{ job_data.title }}
            <span class="badge bg-info text-dark ms-2">{{ job_data.job_type|title }}</span>
          </h2>

          
          <h5 class="text-muted mb-4">
            <i class="bi bi-building"></i> {{ job_data.company_name }} &nbsp;|&nbsp; 
            <i class="bi bi-currency-rupee"></i> {{ job_data.salary }}
          </h5>

          
          <p class="mb-3">
            <i class="bi bi-geo-alt-fill text-danger"></i> <strong>Location:</strong> {{ job_data.location }}
          </p>

          
          <div class="mb-4">
            <h6><i class="bi bi-file-earmark-text-fill"></i> Job Description:</h6>
            <p class="text-justify">{{ job_data.description }}</p>
          </div>

          
          <div class="d-flex justify-content-between align-items-center">
            <a href="{% url 'view_jobs' %}" class="btn btn-secondary">
              ← Back to All Jobs
            </a>
            {% if user.is_authenticated and user.role == 'student' %}
                <form method="POST" action="{% url 'apply_job' job_data.id %}">
                    {% csrf_token %}
                    <button class="text-success mt-3">Apply Now</button>
                </form>
            {% else %}
                <p class="text-danger mt-3">Login as Student to Apply.</p>
            {% endif %}
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}